.goa{
    color: brown;
    text-align: center;
    


}

.body{
    background-color: darkcyan;
}

.p{
    color: red;
    text-align: center;
    background-color:rgb(0, 119, 255);

}

.g{
    text-align: center;
}